* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 50vw;
    height: 50vh;
    background-color: aqua;

    
    border: 2px solid blackc;
}