* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 99vw;
    height: 99vh;
    border: 4px solid black;

    & .box {
        background-color: aqua;
        border: 2px solid black;
    }

    & .box-1 {
        background-color: red;
    }

    & .box-2 {
        background-color: aqua;
    }

    & .box-3 {
        background-color: blue;
    }

}

